# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
BackofficeApp3.0.iml
.npmrc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log.*
/typings

# System Files
.DS_Store
Thumbs.db
